<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="watts25_afip" frontName="watts25_afip">
            <module name="Watts25_Afip" before="Magento_Backend" />
        </route>
    </router>
</config>